.heading {
  color: rgb(242, 242, 242);
}

.soundContainer {
  display: flex;
  gap: 2rem;

  .soundLink:hover {
    background-color: transparent;
  }
}

.soundImage {
  max-height: 300px;
  max-width: 100%;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
