.sceneTitle {
  color: rgb(242, 242, 242);
  text-align: center;
  margin: 0;
}

.sceneCardContainer {
  flex: 1;
  min-width: 150px;
  max-width: 400px;

  .sceneCard {
    opacity: 0.8;
    width: 100%;

    background-color: rgb(59, 74, 105);
    border: 2px solid #465676;

    &:hover {
      opacity: 1;
    }
  }
}
