header.mainHeader {
  background-color: #2e3b55;
  color: rgb(215, 215, 215);
  height: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: none;
  padding: 0 !important;

  .headerPadding {
    padding: 0 40px;
  }
}

header.mainHeader.mainHeaderBorder {
  border-bottom: 1px solid #465676;
}

.logo {
  max-width: 300px;
  height: auto;
  color: #36445f;
}

.logoSmall {
  max-width: 160px;
  height: auto;
}

.gameBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.iconButtonPadding {
  padding: 0 !important;
  margin-right: 1rem;
}
