.timer {
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  padding: 0px 5px;
  color: rgb(46, 59, 85);
  display: flex;
  align-items: center;
  justify-content: center;
}
