#root {
  width: 100vw;
  background-color: #2e3b55;
}

.main {
  min-height: calc(100vh - 117px);
}

body {
  /* prevents content shifting on modal click */
  padding: 10 !important;
  background-color: #2e3b55;
}
